/* Reset all styles */
* {
    border: none;
    border-radius: 20;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: rgba (0, 0, 0, 0.8);
    color: white;
    font-family: FantasqueSansMono Nerd Font;
    font-size: 13px;
}

window
#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#workspaces button.focused {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    border-color: #3d7180;
    color: white;
    background-color: rgba (26, 27, 28, 0.5);
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    background-color: #3d7180;
    border-bottom: 3px solid #ffffff;
}

#custom-menu {
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}    

#custom-keyboard-layout,
#custom-clock,
#battery,
#backlight,
#bluetooth,
#cpu,
#custom-weather,
#disk,
#language,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 4px;
}

#custom-keyboard-layout {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#custom-clock {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#battery {
    background-color: transparent;
    color: white;
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    padding-left: 20px;
    padding-right: 20px;
}

#battery.charging {
    color: #ffffff;
    background-color: #3d7180;
}

#backlight {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    color: white;
}

#bluetooth {
    border-bottom: 3px solid #3d7180;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    padding-left: 30px;
    padding-right: 30px;
}
#custom-weather {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
} 

#disk {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#language {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#memory {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#custom-gpu-usage {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#network {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#network.disconnected {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#pulseaudio {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#pulseaudio.muted {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#temperature {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
}

#temperature.critical {
    background-color: #eb4d4b;
   
}
#custom-power {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    padding-left: 20px;
    padding-right: 20px;
}    
#tray {
    border-bottom: 3px solid #3d7180;
    border-top:  3px solid #3d7180;
    padding-left: 30px;
    padding-right: 30px;    
}

#idle_inhibitor {
    background-color: #2d3436;
    border-top:  3px solid #3d7180;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
