
window {
	margin: 0px;
	border: 0px;
	background-color: rgba (0, 0, 0, 0.3);
}

#input {
	margin: 5px;
	border: 10px; 
	background-color: rgba (0, 0, 0, 0.3);
	color: white;
}

#inner-box {
	margin: 5px;
	border: 10px 
	background-color: rgba (0, 0, 0, 0.3);
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: rgba (0, 0, 0, 0.3);
}

#scroll {
    background-color: rgba (0, 0, 0, 0.3);
	
}

#text {
	margin: 5px;
	border: none;
	color: #d9dede;
	font-size: 16px;
} 

#entry:selected {
	background-color: rgba(0, 0, 0, 1);
}
}
